.Brand_worp {
    padding: 30px 0;
    .brand_slider{
        margin: 0;
        .brand{
            .brand_imgs {
                position: relative;
                width: 100%;
                padding: 0 15px;
                filter: grayscale(100%);
                opacity: 0.5;
                transition: all 0.5s ease;
                display: block;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                    filter: grayscale(0);
                    transition: all 0.5s ease;
                } 
            }
        }
    }
}
