.header {
    background-color: #fff;
    box-shadow: 0 0 3px rgb(60 72 88 / 15%);
    width: 100%;
    z-index: 1080;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .nav_head {
        padding: 35px 0;
        .nav_containt{
            padding-right: 0px;
            padding-left: 0px;
            .nav_bar {
                .logoimg {
                    max-width: 195px;
                }
            }
            .nav_collapse {
                .navbar_nav {
                    .nav-item {
                        margin: 0 3px;
                        position: relative;
                        .nav-link {
                            display: block;
                            color: #111111;
                            font-size: 14px;
                            background-color: transparent;
                            letter-spacing: 0.07em;
                            font-weight: 400;
                            line-height: 23px;
                            text-transform: uppercase;
                            -webkit-transition: all 0.5s;
                            transition: all 0.5s ease;
                            font-family: "Nunito",sans-serif;
                            padding: 0 10px;
                            .drowp_icon {
                                display: inline-block;
                                margin-left: 10px;
                                .Dawn {
                                    font-size: 20px;
                                    line-height: 0.1;  
                                    transition: all 0.5s ease;
                                }
                            }
                            &:hover{
                                color: #ff4c3b;
                                .drowp_icon {
                                    .Dawn {
                                        transform: rotate(180deg); 
                                        color: #ff4c3b;
                                    }
                                }
                            } 
                            

                        }
                        .lang_trans {
                            position: absolute;
                            background-color: #60d7d7;
                            padding: 2px 7px;
                            color: #ffffff;
                            top: -20px;
                            text-transform: uppercase;
                            font-size: 9px;
                            left: 20px;
                            line-height: 1.3;
                            &:before {
                                position: absolute;
                                content: "";
                                width: 0;
                                height: 0;
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;
                                border-top: 5px solid #60d7d7;
                                top: 15px;
                                left: 5px;
                            }
                        }
                        
                        
                    }
                }
            }
            .manu_icon {
                list-style: none;
                display: flex;
                margin-bottom: 0;
                .manu_list {
                    .iconlink {
                        color: #111111;
                        padding: 0 12px;
                        outline: none;
                        text-decoration: none;
                        font-size: 18px;
                        letter-spacing: 0.5px;
                        transition: all 0.3s ease;
                        font-weight: 400;
                        display: block;
                        font-size: 22px;
                        position: relative;
                        .notf {
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            top: -5px;
                            right: 0px;
                            font-size: 12px;
                            border-radius: 50px;
                            display: flex;
                            background-color: red;
                            align-items: center;
                            justify-content: center;
                            padding-top: 1px;
                            color: #fff;
                        }
                        &:hover{
                            color: #ff4c3b;
                        } 

                    } 
                    
                }
            }
        }
        .nav_btn { 
            border: 0;
            box-shadow: none;
            outline: none;
            padding: 0;
            margin: 0;
            width: 25px;
            position: relative;
            height: 15px;
            .bar {
                width: 100%;
                height: 2px;
                background-color: #5c62cb;
                position: absolute;
                right: 0;
                display: block;
                transition: all 0.5s;
                &:nth-child(1) {
                    top: 0;
                }
                &:nth-child(2) {
                    top: 50%;
                }
                &:nth-child(3) {
                    top: 100%;
                }
            }
            &[aria-expanded="true"]{
                .bar {
                    &:nth-child(1) {
                        top: 50%;
                        transform: rotate(45deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        top: 50%;
                        transform: rotate(-45deg);
                    }
                }

            }
        }
    }
    
}
