// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) { }

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) { }

@media (max-width: 1024px) { 
    .banner_slide .banner_worp .banner .main_banner .banerHed{
        font-size: 40px;
    }
    .collection_main a .cllti_img .cll_head .lang_transH {
        font-size: 30px;

    }
    .fashan_2021 .banner_contain .lang_trans {
        font-size: 60px;
    }
    .fashan_2021 .banner_contain .lang_trans3 {
        font-size: 40px;
    }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    .header .nav_head .nav_containt .nav_collapse .navbar_nav .nav-item .lang_trans {
        display: none;
    }
 }

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
    .header_top{
        display: none;
    }
    .navbar-collapse {
        margin-top: 20px;
    }
    .header .nav_head .nav_containt .nav_collapse .navbar_nav .nav-item .lang_trans {
        display: none;
    }
    .header .nav_head .nav_containt .nav_collapse .navbar_nav .nav-item {
        margin-bottom: 10px;
    }
    .header .nav_head {
        padding: 15px 0;
    }
    .banner_slide .banner_worp .banner .main_banner .banerHed {
        font-size: 35px;
    }
    .banner_slide .banner_worp .banner .main_banner .banner_button {
        padding: 10px 22px;
    }
    .collection_main a .cllti_img .cll_head .lang_transH {
        font-size: 25px;
        text-align: center;
    }
    .collection_main a .cllti_img .cll_head .lang_trans {
        font-size: 16px;
    }
    .collection_main {
        margin-bottom: 40px;
    }
    .speical_offer .title .offer_hed {
        font-size: 25px;
    }
    .speical_offer .title .offer_pra{
        font-size: 18px;
    }
    .speical_offer .title .offer_prag2 {
        max-width: 350px;
    }

    .fashan_2021 .banner_contain .lang_trans{
        font-size: 80px;
    }
    .fashan_2021 .banner_contain .lang_trans3 {
        font-size: 38px;
    }
    .Brand_worp .brand_slider .brand .brand_imgs {
      width: 135px;  
      margin: 0 auto;
    }
    .newsletter_worp .subscribe {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .newsletter_worp .subscribe .lang_trans {
        margin-bottom: 10px;
    }
    .newsletter_worp .subscribe .form_inline .form_group .btn_solid {
        padding: 10px 25px;
    }
}

@media (max-width: 667px) { 
    .newsletter_worp .subscribe .form_inline .form_group .required_mail {
        max-width: 190px;
    }
}
@media (max-width: 736px) { 
    .collection_main a .cllti_img { margin-bottom: 15px;}
    .filtering_worp .filter_button .parteflo_button .btun_deful {
        margin-bottom: 10px;
    }
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
    .seavice_worp .srvice .boder_right {
        display: none;
    }
    .footer_top .footer_list {
        margin-bottom: 15px;
    }
    .footer_top {
        text-align: center;
    }
    .footer_top .f_iconmain {
        justify-content: center;
    }
    .footer .FT_text .footer_P {
        margin-bottom: 10px;
        text-align: center;
    }
    .footer .list_unstyled {
        float: initial;
        justify-content: center;
    }
 }
@media (max-width: 420px) { 
    .banner_slide:hover .slick-arrow.slick-next {
        display: none;
    }
    .banner_slide:hover .slick-arrow.slick-prev {
        display: none;
    }
    .collection_main a .cllti_img {
        margin-bottom: 15px;
    }
    .text-warning {
        display: none;
    }
    .new_fashion .fasion_main .shopbody .shope_main .lable_block .lable3 {
        font-size: 11px;
        padding: 7px 2px;
    }
    .filtering_worp .filter_button .parteflo_button .btun_deful {margin-bottom: 10px;}
    .newsletter_worp .subscribe .form_inline .form_group .required_mail {margin-bottom: 10px;}
    .footer_top .footer_list {
        margin-bottom: 15px;
    }
    .footer_top {
        text-align: center;
    }
    .footer_top .f_iconmain {
        justify-content: center;
    }
    .footer .FT_text .footer_P {
        margin-bottom: 10px;
        text-align: center;
    }
    .footer .list_unstyled {
        float: initial;
        justify-content: center;
    }



}


@media (max-width: 375px) { 
    .header .nav_head .nav_containt .nav_bar .logoimg {
        max-width: 110px;
    }
    .banner_slide:hover .slick-arrow {
        opacity: 0;
        visibility: hidden;
    }
    .collection_main a .cllti_img {
        position: relative;
        overflow: hidden;
        margin-bottom: 15px;
    }

    .seavice_worp .srvice .boder_right {
        border-right: 0;
    }
    .newsletter_worp .subscribe .form_inline .form_group .required_mail {
        width: 173px;
        margin-bottom: 0px;
    }
    .filtering_worp .filter_button .parteflo_button .btun_deful {
        margin: 5px 5px;
    }
    .newsletter_worp .subscribe .lang_trans {
        margin-top: 20px;
    }
    .newsletter_worp .subscribe {
        display: initial;
        align-items: center;
        justify-content: center;
    }
    .footer_top .footer_list {
        margin-bottom: 15px;
    }
    .footer_top {
        text-align: center;
    }
    .footer_top .f_iconmain {
        justify-content: center;
    }
    .footer .FT_text .footer_P {
        margin-bottom: 10px;
        text-align: center;
    }
    .footer .list_unstyled {
        float: initial;
        justify-content: center;
    }
} 
@media (max-width: 320px) { 
    .newsletter_worp .subscribe .form_inline .form_group .required_mail {
        margin-bottom: 10px;
    } 
   
} 
